.order {
    display: flex;
    align-items: start;
    gap: 20px;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.order-header {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.order-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-info .order-products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.order-detail {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    min-width: 400px;
    max-height: calc(100vh - 125px);
    overflow: auto;
}

.order-detail>div>:first-child {
    border-top: none;
}

.order-detail>div:nth-last-child(2) {
    position: sticky;
    bottom: 60px;
    background: #fff;
    border-top: 1px solid #ccc;
}

.order-detail>div {
    border-top: 1px solid #ccc;
    border-bottom: none;
    padding-top: 10px;
    margin-top: 10px;
}

.order-detail .info-product ul {
    padding: 0;
    margin-bottom: 0;
}

.order-detail .info-product ul li {
    cursor: auto;
    padding: 5px 0;
}

.order-detail .info-product ul li:hover {
    background: none;
}

.order-detail h2 {
    font-weight: 500;
    margin-top: 20px;
}

.order-detail .container-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    position: sticky;
    bottom: -69px;
    background: #fff;
}

.order-detail .order-options {
    padding: 0;
}

.order-options .container-btn:hover {
    top: 0;
}

.add-discount {
    display: flex;
    flex-direction: column;
}

.add-discount button {
    border: none;
    color: #1872fa;
    font-size: 16px;
    background: none;
    cursor: pointer;
    text-align: end;
    margin-left: 5px;
}

.add-discount button:hover {
    text-decoration: underline;
}

.order-detail-list>p {
    border: 1px solid #ccc;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    font-size: 18px;
}

@media (max-width: 450px) {
    .order {
        flex-wrap: wrap;
    }

    .order-detail {
        width: 100%;
        min-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .order-detail-list .name {
        width: 100%;
        max-width: 150px;
    }

    .order-header {
        flex-wrap: wrap-reverse;
    }
}