.order {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 100%;
}

.order-header {
    display: flex;
    justify-content: space-between;
}

.order-header h3 {
    font-size: 22px;
    font-weight: 400;
}

.btn-images {
    position: relative;
}

.btn-images:hover span {
    opacity: 1;
    transition: .1s;
}

.btn-images span {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    text-wrap: nowrap;
    border-radius: 5px;
    background: #00000099;
    color: #fff;
    padding: 10px 15px;
}

.container-btn {
    display: flex;
    gap: 10px;
}

.container-product-list {
    display: flex;
    gap: 20px;
    position: relative;
}

.container-product-list>div {
    width: 50%;
}


.container-product-list .list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.container-order-table {
    width: 100%;
    max-width: 900px;
    height: 80%;
    background: #fff;
    border-radius: 5px;
    padding: 40px 10px 10px 10px;
    z-index: 100;
    position: relative;
}

.close-table {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.order-table {
    overflow: auto;
    max-height: 100%;
}

.order-table thead td {
    background: #f0f0f0;
    padding: 10px;
}

.order-table img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.order-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.quantity-td {
    width: 100px;
}

.image-td {
    width: 65px;
}

.name-td {
    width: 500px;
}

.price-td,
.subtotal-td {
    width: 200px;
}

.options-td div {
    display: flex;
    gap: 10px;
}

div.remit {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 800px;
    background: #323639;
    z-index: 100;
    padding: 10px;
    border-radius: 5px;
}

div.remit div {
    display: flex;
    justify-content: flex-end;
}

div.remit .btn {
    background: #ffffff30;
}

div.remit .btn svg path {
    fill: #fff;
}

iframe {
    width: 100%;
    height: calc(100vh - 300px);
    border-radius: 10px;
}

.cancel-order p {
    margin-bottom: 15px;
}

@media (max-width: 450px) {
    .container-order-table {
        width: calc(100% - 20px);
    }

    .order-header {
        flex-direction: column;
        gap: 15px;
    }

    .container-btn {
        gap: 5px;
    }

    .container-btn .btn {
        font-size: 15px;
    }

    div.remit {
        top: 150px;
        right: 0;
        width: 100%;
    }

    iframe {
        height: calc(100vh - 450px);
    }
}

@media (max-width: 390px) {

    div.remit {
        top: 165px;
    }
}