.product-detail {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
    width: 100%;
    margin: 60px auto;
}

.container-images {
    position: relative;
}

.container-main-image {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    top: calc(120px + 10px);
    box-shadow: 0 5px 10px #00000020;
    border: 1px solid #ddd;
    padding: 10px;
}

.container-main-image div {
    display: flex;
    gap: 10px;
}

.container-main-image svg {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.container-main-image img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    background: #fff;
    border-radius: 5px;
}

.container-thumbnails {
    display: flex;
    gap: 5px;
}

.container-thumbnails>img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.form-add-image {
    min-height: 120px;
    width: 120px;
    object-fit: contain;
    cursor: pointer;
    position: relative;
}

.form-add-image input {
    position: absolute;
    outline: auto;
    height: 120px;
    width: 120px;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.form-add-image span {
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 10px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5f5f5;
    cursor: pointer;
    border: 2px dashed #ddd;
    color: #636363;
}

.form-add-image span svg {
    margin-bottom: 5px;
}

.form-add-image span svg path {
    color: #636363;
}

.info-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.info-product:last-child {
    border-bottom: none;
}

.info-product header .active {
    padding: 5px 10px;
    border-radius: 30px;
    background: #66b81920;
    color: #66b819;
    display: flex;
    gap: 5px;
    width: max-content;
}

.info-product header .inactive {
    padding: 5px 10px;
    border-radius: 30px;
    background: #b8191920;
    color: #b81919;
    display: flex;
    gap: 5px;
    width: max-content;
}

.info-product header .active span,
.info-product header .inactive span {
    position: absolute;
    left: -20px;
    opacity: 0;
}

.info-product header .active:hover span,
.info-product header .inactive:hover span {
    opacity: 1;
}

.info-product header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-product h1 {
    margin-bottom: 10px;
    cursor: pointer;
}

.info-product h1 svg {
    opacity: 0;
    margin-left: 5px;
}

.info-product h1:hover svg {
    opacity: 1;
}

.info-product p span {
    display: block;
    margin-bottom: 5px;
}

.info-product ul {
    width: 100%;
    margin-bottom: 20px;
}

.detail-description {
    cursor: pointer;
}

.product-detail h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.detail-description svg {
    opacity: 0;
}

.detail-description:hover svg {
    opacity: 1;
}

.info-product ul li {
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.info-product ul li:hover {
    background: #f5f5f5;
}

.info-product ul li span {
    display: flex;
    gap: 10px;
}

.info-product ul li span svg {
    opacity: 0;
}

.info-product ul li:hover span svg {
    opacity: 1;
}

.info-product ul li b {
    max-width: 300px;
}

.info-product .purchase-price {
    margin-top: 20px;
}

.info-product .purchase-price p {
    margin-bottom: 10px;
}

.info-product .purchase-price .btn {
    top: calc(50% + 14px);
}

.info-product .purchase-price + .btn {
    margin-top: 10px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-weight: 400;
}

.actions-edit {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

textarea.input {
    max-height: 200px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

@media (max-width: 450px) {
    .product-detail {
        flex-direction: column;
    }

    .container-images {
        flex-direction: column-reverse;
    }

    .container-main-image img {
        height: 100%;
        width: 100%;
    }

    .container-main-image .btn {
        font-size: 14px;
    }

    .container-thumbnails {
        flex-direction: row;
        overflow-x: auto;
        padding: 5px;
        transform: translateX(-5px);
    }

    .info-product {
        width: 100%;
    }
}