.product-list tbody td.container-img {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.container-img img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: #fff;
    padding: 5px;
}

.cell-price span{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transform: translateX(-10px);
}

.cell-price span:hover{
    background: #f0f0f0;
}

.cell-price span svg {
    margin-left: 10px;
    opacity: 0;
}

.cell-price span:hover svg {
    opacity: 1;
}

.discount {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background: #66b81920;
    color: #66b819;
    margin-right: 10px;
    padding-right: 10px;
}