.order-options {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.container-btn {
    display: flex;
    gap: 10px;
}

.order-options.container-btn:hover {
    border-color: #ddd;
}

.cancel-order {
    display: flex;
    flex-direction: column;
    gap: 20px;
}