.payment-method-controls {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}

.methods {
    display: flex;
    align-items: center;
    gap: 10px;
}

.methods label {
    width: 100%;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.payment-method-controls .container-btn {
    flex-wrap: wrap;

}

.payment-method-controls .container-btn .methods,
.payment-method-controls .container-btn .btn {
    width: 100%;
}

.amount-input p{
    margin-bottom: 10px;
}

.amount-input div .container-btn {
    flex-wrap: nowrap;
    margin-top: 10px;
}

.amount-input div .container-btn button {
    background: #f5f5f5;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.amount-input div .container-btn button:hover {
    background: #eee;
}