aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside div:last-child{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside div:last-child a {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
aside div:last-child a span {
    font-size: 14px;
}

.btn.btn-navbar {
    display: none;
}

.nav-bar {
    padding: 0 10px;
}

.nav-bar ul li a {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
}

.nav-bar ul li a:hover {
    background: #fff;
    outline: 1px solid #ddd;
}

.nav-bar .active {
    background: #fff;
    outline: 1px solid #ddd;
}

@media (max-width: 450px) {

    aside .btn {
        margin: 0 20px;
    }

    .btn.btn-navbar {
        display: inline-flex;
        position: absolute;
        margin: 0;
        top: 18px;
        height: 45px;
        width: 45px;
    }

    .nav-bar ul li a {
        padding: 10px 20px;
        font-size: 18px;
        text-align: center;
    }
}