.product-detail {
    display: flex;
    gap: 20px;
}

.container-images {
    display: flex;
    gap: 10px;
}

.container-images>img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    background: #fff;
    border-radius: 10px;
}

.container-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-thumbnails img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.info-product {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.info-product h1 {
    margin-bottom: 20px;
}

.actions button:first-child {}