.campaign-list {
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow: auto;
}

.campaign-list li a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campaign-list li a:hover,
.campaign-list li a.active {
    background: #f9f9f9;
    border: 1px solid #aaa;
}

.campaign-list li a span {
    font-size: 14px;
}

.campaign-list li a .active {
    color: #66b819;
}

.campaign-list li a .active span {
    background-color: #66b819;
}

.campaign-list li a .inactive {
    color: #b81919;
}

.campaign-list li a .inactive span {
    background: #b81919;
}

.campaign-list li a>p {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.campaign-list li a>p span {
    display: inline-block;
    margin-right: 5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.campaign-list li a h3 {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.campaign-list li a div {
    display: flex;
    justify-content: space-between;
}