.container-images {
    position: relative;
}

.container-main-image {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    top: calc(120px + 10px);
    box-shadow: 0 5px 10px #00000020;
    border: 1px solid #ddd;
    padding: 10px;
}

.container-main-image div {
    display: flex;
    gap: 10px;
}

.container-main-image svg {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.container-main-image img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    background: #fff;
    border-radius: 5px;
}

.container-thumbnails {
    display: flex;
    gap: 5px;
}

.container-thumbnails>img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.form-add-image {
    min-height: 120px;
    width: 120px;
    object-fit: contain;
    cursor: pointer;
    position: relative;
}

.form-add-image input {
    position: absolute;
    outline: auto;
    height: 120px;
    width: 120px;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.form-add-image span {
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 10px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5f5f5;
    cursor: pointer;
    border: 2px dashed #ddd;
    color: #636363;
}

.form-add-image span svg {
    margin-bottom: 5px;
}

.form-add-image span svg path {
    color: #636363;
}
