search {
    position: relative;
}

search form {
    display: flex;
    align-items: center;
}

search form input {
    border: 1px solid #ddd;
    overflow: hidden;
    width: 445px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    padding: 0 15px 0 40px;
    font-size: 16px;
}

search form input:focus,
search form input:focus + button svg path{
    border-color: var(--primary);
    fill: var(--primary);
}

search form button {
    border: none;
    background: none;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.container-results {
    position: absolute;
    top: calc(100% + 15px);
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 10px 15px #00000020;
    background: #fff;
    z-index: 10000;
}

.results {
    width: 450px;
    padding: 10px 20px 0;
    max-height: 380px;
    overflow-y: auto;
}

.results a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.result-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 25px);
    width: calc(100% - 120px);
}

.result-name span {
    color: #000;
}

.results a img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.product-not-found {
    text-align: center;
    padding: 15px;
}

.option-search {
    border-top: 1px solid #eee;
    padding: 5px;
    width: 100%;    
}

.option-search a {
    width: 100%;    
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.option-search a:hover {
    background: #f5f5f5;
}