.search {
    display: flex;
    position: relative;
    height: 45px;
    flex-grow: 0;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.search>div {
    width: 100%;
}

.search .input {
    width: 100%;
    border-radius: 0 5px 5px 0;
    padding: 0 15px 0 3px;
    border-left: none;
    height: 100%;
}

.search label {
    border-radius: 5px 0 0 5px;
    height: 100%;
    width: 45px;
    background: none;
    outline: none;
    border: 1px solid #ddd;
    border-right: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {

    .search {
        width: calc(100%);
        margin: 0 0 0 60px;
    }

}