.form-add-product {

    max-width: 600px;
}

.description {
    position: relative;
}

.description span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #888;
}

.form-add-product textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    appearance: none;
}

.form-categories div input {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.form-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-subcategory {
    display: inline-flex;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 7px 10px;
    cursor: pointer;
}

.form-add-product button[type="submit"] {
    margin-right: 10px;
}

li.error {
    color: var(--color-error);
}

.form-add-product .provider-list {
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
}

.form-add-product .provider-list h3 {
    width: 100%;
}

.provider-list div {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.provider-list div label {
    cursor: pointer;
    padding: 10px 20px 10px 10px;
}

.provider-list div label+input {
    cursor: pointer;
    position: relative;
    left: -10px;
}

.purchase-price {
    position: relative;
}

.purchase-price .btn {
    position: absolute;
    right: 5px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
}

/* ///////////// agregar imagenes ///////////// */

.selected-images {
    display: flex;
    gap: 10px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.selected-images>span {
    position: absolute;
    top: 10px;
    left: 10px;
}

.preview-images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.preview-images div {
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 135px;
    min-width: 135px;
    overflow: hidden;
    position: relative;
}

.preview-images div span {
    background: #00000030;
    display: block;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.preview-images div span svg {
    border-radius: 50%;
    background: #000000aa;
    height: 16px;
    width: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: calc(50% - 17.5px);
    transition: .3s;
}

.preview-images div span svg path {
    color: #fff;
}

.preview-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-images div:hover span {
    opacity: 1;
}

.preview-images div:hover span svg {
    top: calc(50% - 17.5px);
}

@media (max-width: 450px) {

    .form-add-product>div {
        width: 100%;
    }
}