.info-order {
    display: flex;
    max-width: 1200px;
    margin: 60px auto;
    gap: 30px;
}

.order-completed .container-order-product-table {
    border: none;
    padding: 0;
}

.order-payments {
    width: 100%;
}

.order-payments h2 {
    font-weight: 500;
    font-size: 18px;
}

.order-payments-list {
    margin: 15px 0;
}

.order-payments-list h2 {
    margin-bottom: 10px;
}

.order-payments-list ul {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.order-payments-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.order-payments-list li.incomplete:hover {
    cursor: pointer;
}

.order-payments-list li.incomplete span {
    background: #000000b9;
    padding: 5px;
    border-radius: 5px;
    color: #FFF;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
}

.order-payments-list li.incomplete:hover span {
    opacity: 1;
}

.order-payments-list li:last-child {
    border-bottom: none;
}

.order-payments-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
}

.payment-methods {
    width: 100%;
}

.payment-progress {
    margin: 10px 0 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-fill {
    height: 100%;
    background-color: #66b819;
    transition: width 0.3s ease;
}

.payment-info {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-payment-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 450px) {

    .info-order {
        flex-direction: column;
    }

    .order-payments-list li {
        flex-wrap: wrap;
    }

    .order-payments-list li p {
        width: 100%;
        align-items: start;
        margin-top: 3px;
    }

    .order-payments-list li p:first-child {
        margin-top: 0px;
        justify-content: space-between;
    }
}