@font-face {
    font-family: Rubik;
    src: url('./assets/fonts/Rubik.ttf');
}

:root {
    --primary: #3d6caa;
    --color-error: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Rubik';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        'aside header'
        'aside main';
    width: 100%;
    height: 100%;
}

#root>header {
    grid-area: header;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

aside {
    grid-area: aside;
    border-right: 1px solid #eee;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    grid-area: main;
    overflow: auto;
    padding: 20px;
    background: #f0f0f0;
}

.btn {
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
    transition: .1s;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background: #f0f0f0;
    border: none;
    height: 40px;
    font-size: 16px;
}

.btn-solid {
    color: #fff;
    border: 1px solid var(--primary);
    background: var(--primary);
}

.btn-solid svg path {
    fill: #fff;
}

.btn-regular svg path,
.btn-thins svg path {
    fill: var(--primary);
}

.btn-regular {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: #8ecae620;
}

.btn-thins {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: #fff;
}

.btn:active {
    box-shadow: 0 0 0 4px #00000020;
}

.btn-solid:active,
.btn-regular:active,
.btn-thins:active {
    box-shadow: 0 0 0 4px #8ecae690;
}

.btn-error-solid {
    color: #fff;
    border: 1px solid var(--color-error);
    background: var(--color-error);
}

.btn-error-solid svg path {
    fill: #fff;
}

.btn-error-regular svg path,
.btn-error-thins svg path {
    fill: var(--color-error);
}

.btn-error-regular {
    color: var(--color-error);
    border: 1px solid var(--color-error);
    background: #e74c3c20;
}

.btn-error-thins {
    color: var(--color-error);
    border: 1px solid var(--color-error);
    background: #fff;
}

.btn-error-solid:active,
.btn-error-regular:active,
.btn-error-thins:active {
    box-shadow: 0 0 0 4px #e74c3c30;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

.order-page>div:first-child {
    display: flex;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 450px) {
    #root {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 80px;
        grid-template-areas:
            'header'
            'main'
            'aside';
    }

    #root>header {
        grid-area: header;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    aside {
        max-width: 100%;
        flex-direction: row;
        overflow: auto;
    }

    main {
        grid-area: main;
        overflow: auto;
        padding: 20px;
        background: #f0f0f0;
    }

    .order-page>div:first-child>div {
        width: 100%;
    }
}