.pendings-orders>div {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

.pendings-orders .title {
    margin-bottom: 10px;
}

.pendings-orders h4 {
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 30px;
    background: #3d6caa20;
    color: var(--primary);
    width: fit-content;
    text-transform: capitalize;
    margin: 20px 0;
}