.edit-order-product {
    z-index: 1000;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.order-table span{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transform: translateX(-10px);
}

.order-table span:hover{
    background: #f0f0f0;
}

.order-table span svg {
    margin-left: 10px;
    opacity: 0;
}

.order-table span:hover svg {
    opacity: 1;
}

