.section-add-client {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.section-add-client>div:first-child {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.section-add-client>div {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.section-add-client form {
    width: 300px;
}

.section-add-client form input {
    margin-bottom: 20px;
}

.section-add-client form button {
    margin-right: 10px;
}