.form-new-order {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.form-new-order h3 {
    margin-bottom: 15px;
}

.form-new-order .btn {
    width: 100%;
}

@media (max-width: 450px) {
    .form-new-order {
        width: 100%;
        min-width: 100%;
    }

}