.form-new-order {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-new-order>div:nth-child(2) {
    display: flex;
    gap: 10px;
}

@media (max-width: 450px) {
    .form-new-order {
        width: 100%;
        min-width: 100%;
    }

}