.form-new-order {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-new-order>div:nth-child(2) {
    display: flex;
    gap: 10px;
}