.client-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.client-list li ul{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.client-list li .container-btn {
    margin-top: 10px;
}