.search-order-product {
    display: flex;
    align-items: start;
    width: 600px;
    gap: 5px;
}

.search-order-product .btn {
    border-radius: 10px;
}

.search-order-product>.input:first-child {
    width: 120px;
}

.search-order-product>.input:nth-child(3) {
    width: 100px;
}