.search-order-product {
    display: flex;
    align-items: start;
    max-width: 700px;
    width: 100%;
    gap: 5px;
}

.search-order-product .btn {
    border-radius: 10px;
}

.search-order-product>.input:first-child {
    width: 400px;
}

.search-order-product>.input {
    width: 120px;
}

@media (max-width: 450px) {
    .search-order-product {
        gap: 5px;
        flex-wrap: wrap;
    }

    .search-order-product>.input:first-child {
        width: 100%;
    }

    .search-order-product .btn {
        width: 100%;
    }
}


@media (max-width: 390px) {
    .search-order-product>.input {
        width: 100%;
    }
}